POSTGRES_DB=battleship
POSTGRES_USER=battleship
POSTGRES_PASSWORD=battleship

DATABASE_URL=postgresql+psycopg://battleship:battleship@db:5432/battleship
TEST_DATABASE_URL=postgresql+psycopg://battleship:battleship@db:5432/battleship_test
